body,*{
    font-family: "Open Sans";
    scroll-behavior: smooth;
    list-style: none;
}
@import 'navbar';
@import 'home';
@import 'footer';
@import 'banner';
@import 'products';
@import 'about';
@import 'cart';
@import 'contact';
@import 'shop';
@import 'media';